@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>
<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div>
    <p>Hello World</p>
</div>
<style>
    .previewsecondLevel {
        background: red;
        color: white;
    }

    .preview2 {
        background: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    p {
    }
</style>